.NewLearner {
  position: absolute;
  z-index: 99999;
  background-color: #fff;
  box-shadow: 0 1px 7px #ccc;
  top: 60px;
  left: 30%;
  flex-direction: column;
  width: 550px;
}

@media only Screen and (max-width: 500px) {
  .NewLearner {
    width: 90vw;
    left: 0;
    max-height: 525px;
  }
}

.PopupHeader {
  color: #219653 !important;
  font-size: 20px;
  border-bottom: 1px solid #21965311;
  font-weight: medium;
  width: 100%;
  display: flex;
  margin: 0px 0 10px;
  padding: 10px;
}

@media only Screen and (max-width: 500px) {
  .PopupHeader {
    font-size: 17px;
  }
}

.PopupHeader.devider {
  padding: 10px;
  border-top: 2px solid #219653;
  border-bottom: 2px solid #21965325;
  width: 100%;
  display: flex;
  margin: 10px 0;
}

.PopupInputPicker .rs-picker-toggle-caret {
  color: #219653;
}

.PopupInputPicker.rs-picker-toggle-wrapper {
  width: 95%;
  overflow: hidden;
}

.PopupLable {
  font-size: 12px;
  padding-left: 10px;
  padding-top: 2px;
  color: #0006;
}

@media only Screen and (max-width: 500px) {
  .PopupLable {
    display: none;
  }
}

.PopupInputPicker.rs-picker-default .rs-picker-toggle.rs-btn {
  background-color: #219653 !important;
  color: #fff !important;
}

.PopupInputPicker .rs-picker-toggle .rs-picker-toggle-placeholder {
  color: #fff !important;
}

.btn-green-popup {
  color: #fff;
  font-size: 0.7rem;
  --background: #219653;
  --padding: 0px 5px;
  --border-radius: 0 0.25rem 0.25rem 0;
  margin: 0;
  vertical-align: top;
  height: 40px;
  height: 27px !important;
  margin: 4px;
  border-radius: 3px !important;
  overflow: hidden;
}

.btn-red-popup {
  background: #FF0000 !important;
}

.devider {
  padding: 15px 0 0;
  margin: 10px 0;
  border-top: 1px solid #219653;
}

@media only Screen and (max-width: 500px) {
  .LearnerSelect {
    position: relative;
    top: 90px;
    margin-bottom: -5px;
  }
  .LearnerSelect select{
    width: 100%;
  }
  .LearnerPhoneEmail {
    position: relative;
    bottom: 93px;
  }
}
