<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>626043306361-7eaj8upd5herb725pis8rk8im7ctcdvr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.626043306361-7eaj8upd5herb725pis8rk8im7ctcdvr</string>
	<key>API_KEY</key>
	<string>AIzaSyB4gZdyqd30smNX1T9mtGl7v1Q8-Bz3YbQ</string>
	<key>GCM_SENDER_ID</key>
	<string>626043306361</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>iconnect99.message.scholarpresent</string>
	<key>PROJECT_ID</key>
	<string>scholar-present</string>
	<key>STORAGE_BUCKET</key>
	<string>scholar-present.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626043306361:ios:344a78502f48c403bbafa8</string>
</dict>
</plist>